<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <ul>
    <% @polls.each do |poll| %>
      <li><%= link_to poll.name, poll_path(poll) %> <%= link_to "edit", edit_poll_path(poll) %><%= link_to "delete",
            poll_path(poll),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>

  <%= link_to "create one", new_poll_path %>
<% end %>
